*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

header{
    height: 190px;
    background-color: lightslategrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#logo{
    width: 120px;
    height: auto;
    margin-left: 90px;
}

#link{
    height: auto;
    color: aliceblue;
}

.title{
    color: lime;
    background-color: lightslategrey;
    display: flex;
    align-items: center;
    font-size: 40px;
    margin-left: 170px;
    font-weight: 900;
}

nav{
    width: 60%;
}

ul{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

li{
    list-style: none;
    color: lime;
    font-size: 30px;
    font-weight: 600;
    transition: .5s;
    align-items: center;
    margin-top: 25px;
    margin-left: 125px;
}

li:hover{
    font-size: 40px;
}

h1{
    color: black;
    font-weight: 900;
    margin-left: 90px;
    margin-top: 35px;
}

.text{
    color: black;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 90px;
    margin-bottom: 130px;
    max-width: 1400px;
    width: calc(100% - 20px);
}

footer{
    display: flex;
    background-color: white;
    margin-left: 600px;
    margin-bottom: 35px;
    font-weight: 600;
}