body,header,header div{
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 30px;
}
body{
    min-height: 100vh;
    background: white;
    flex-direction: column;
}
header{
    background: lightslategrey;
    flex-direction: row;
    width: 100%;
    padding: 25px 100px 25px 100px;
}
#logo{
    height: 120px;
    width: 120px;
}
header div{
    justify-content: space-between;
    flex-direction: row;
}
#link,header p{
    color: lime;
    font-weight: 900;
    margin-left: 20px;
    transition: .5s;
}
#sobre{
    font-weight: 600;
    width: 100%;
}
#lista{
    font-weight: 500;
    width: 100%;
}
#sobre{
    margin-top: 150px;
    width: 100%;
    padding: 0 50px 0 50px;
}
#sobre2{
    font-weight: 600;
    width: 100%;
}
#sobre2{
    margin-bottom: 35px;
    width: 100%;
    padding: 0 50px 0 50px;
}
#lista{
    margin-top: 150px;
    width: 100%;
    padding: 0 50px 0 50px;
}
#title{
    margin-top: 150px;
    width: 100%;
    padding: 0 50px 0 50px;
}
#link:hover{
    font-size: 40px;
}
#footer{
   display: flex;
   flex-direction: column;
   font-weight: 600; 
   margin-top: 35px;
   text-align: center;
   background: lightslategrey;
   width: 100%;
}
@media (max-width:910px){
    *{
        font-size: 24px;
    }
    header{
        flex-direction: column;
    }
    header div{
        flex-direction: column;
    }
    #link,header p{
        margin: 10px 0 0 0;
    }
    header p{
        margin-top: 50px;
    }
}